:root {
    --color-grey: #25252C;
    --color-white: #fff;
}
* {
    font-family: "Golos Text", sans-serif;
}
.background-container{
    max-width: 2560px;
}
.banner-container {
    position: relative;
}
.banner-img{
    width: 100%;
    height: 911px;
    background-image: url('../image/background.png');
    background-size: cover;
}
.bg-image{
    position: relative;
    display: flex;
}
.logo{
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.nav-cont{
    position: absolute;
    width: 1800px;
    top: 30px;
    /* right: 30px; */
    left: 50px;
    display: flex;
    justify-content: space-between;
    
}
.nav-cont div ul{
    display: flex;
    gap: 20px;
    color: white;
    font-size: 20px;
}
.banner-text{
    
    position: absolute;
    top: 300px;
    left: 140px;
}
.up-title{
    font-size: 14px;
    font-weight: 600;
    line-height: 18.2px;
    letter-spacing: 0.06em;
    text-align: left;
    color: white;
}
.title{
    font-size: 72px;
    font-weight: 700;
    line-height: 81.36px;
    text-align: left;
    color: white;
    margin-bottom: 20px;
}
.down-title{

    font-size: 20px;
    font-weight: 400;
    line-height: 22.6px;
    text-align: left;
    color: white;
}
.arrow-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 70px;
    width: 300px;
    background-color: var(--color-grey);
    border-radius: 500px;
    margin-top: 45px;
}
.arror-p {
    color: white;
}
.oval-img {
    position: absolute;
    margin-left: 1450px;
}
.container {
    padding: 0px 50px;
}

.main {

}
.about-container {
    padding: 137px 0;
    width: 100%;
    background-color: var(--color-grey);
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.about-container-1 {
    margin-left: 100px;
    transform: rotate(-90deg);
    color: #fff;
    opacity: 10%;
    box-shadow: 0px 0px 0px 0px #0000001A;
box-shadow: 0px 4px 9px 0px #0000001A;
box-shadow: -1px 16px 16px 0px #00000017;
box-shadow: -3px 35px 21px 0px #0000000D;
box-shadow: -6px 62px 25px 0px #00000003;
box-shadow: -9px 98px 27px 0px #00000000;

}

.about-container-2 {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 200px;
}
.about-count {
    font-size: 24px;
    color: #fff;
    opacity: 10%;
}
.about-count.active {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    opacity: 100%;
}
.about-container-3 {
    margin-left: 200px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.about-container-3 div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about-container-3 div.d1 {
    gap: 60px;
}
.about-container-3 div.d {
    flex-direction: column;
    gap: 15px;
}
.about-title {
    padding-top: 150px;
    font-family: "Oranienbaum", sans-serif;
    font-size: 70px;
    color: var(--color-white);
}
.video-img {
}
.about-p {
    font-weight: 100;
    color: var(--color-white);
    margin-left: 450px;
    width: 500px;
}
.smeta{
    display: flex;
    margin: 187px 300px;
    align-items: center;
    justify-content: space-around;
}
.smeta-title{
    font-size: 32px;
    font-weight: 600;
    line-height: 31.52px;
    text-align: left;

}
.smeta div img{
    width: 753px;
    height: 362px;

}